$primary-color: #775da6;
$secondary-color1: #70b6c1;
$secondary-color2: #abdfe7;
$additional-color1: #ffb1b7;
$additional-color2: #f9837c;
$additional-color3: #ffd86c;
$dark1: #202020;
$dark2: #484848;
$dark3: #818181;
$dark4: #dcdcdc;
$dark5: #f5f5f5;
$faded-color1: #775da6;
$faded-color2: #70b6c1;
$faded-color3: #ffb1b7;
$faded-color4: #f9837c;
$faded-color5: #f9837c;
$color-sign1: #196a73;
$color-sign2: #e1582d;
$icon-color1: #84818a;
$line1: #e8e8e8;
$color: #fff;
